<% content_for :title do %>About<% end %>



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active hmax">
			<!-- <%= image_tag "bg.jpg", alt: 'jedeme do baru logo', width: '100%' %> -->
			<div class="carousel-caption hmax">
				<h2><i>Počítačový servis</i><br /><i>Kralupy nad Vltavou</i> </h2>
			</div>
		</div>
	
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
	  
	
<div class="container" role="main">
	<h2>Servis</h2>
	<p>Přeinstalace počítače zahrnuje vrácení počítače do stavu ve kterém jste ho zakoupili, eventuleně přeinstalování vlastního operačního systému. Můžeme do této služby zahrnout Aktivaci operačního systému Běžné úkony prováděné při tomto zásahu jsou: 1000.- Kč
	</p>
	<ul>
		<li>1</li>
		<li>1</li>
		<li>1</li>
		<li>1</li>
		<li>1</li>
	</ul>

</div>