<% content_for :title do %>Kontakt<% end %>
<% @purple = true %>
<div class="container" role="main">
	<h3>kontakt</h3>
	<p>Přeinstalace počítače zahrnuje vrácení počítače do stavu ve kterém jste ho zakoupili, eventuleně přeinstalování vlastního operačního systému. Můžeme do této služby zahrnout Aktivaci operačního systému Běžné úkony prováděné při tomto zásahu jsou: 1000.- Kč
	</p>
	<ul>
		<li>1</li>
		<li>1</li>
		<li>1</li>
		<li>1</li>
		<li>1</li>
	</ul>
<div id="map-canvas" style="width:500px;height:380px;"></div>
