<% content_for :title do %>About<% end %>



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active hmax">
			<%= image_tag "hw11.jpg", alt: 'jedeme do baru logo' %>
			<div class="carousel-caption hmax">
				<h2><i>Počítačový servis</i><br /><i>Kralupy nad Vltavou</i> </h2>
			</div>
			
		</div>
		<div class="item hmax">
			<%= image_tag "hw22.jpg", alt: 'jedeme do baru logo' %>
			<div class="carousel-caption hmax">
				<h2><i>Počítačový servis</i><br /><i>Kralupy nad Vltavou</i> </h2>
			</div>
		
		</div>
		<div class="item hmax">
			<%= image_tag "hw33.jpg", alt: 'jedeme do baru logo' %>
			<div class="carousel-caption hmax">
				<h2><i>Počítačový servis</i><br /><i>Kralupy nad Vltavou</i> </h2>
			</div>
		
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
	  
	
<div class="container" role="main">
	<h2>Servis</h2>
	<p>Provádíme servis a pozáruční opravy počítačů. Přeinstalujeme Vám operační systém na počítači. Sestavíme osobní počítač dle individuálních požadavků. Dokážeme poradit s výběrem počítače i notebooku, uděláme profesionální konzultaci s výběrem vhodné hardware pro upgrade Vašeho počítače.
	</p>
	<!-- panels -->
	<div class="row">
	        <div class="col-md-4">
	          <div class="panel panel-default">
	            <div class="panel-heading">
	              <h3 class="panel-title">Přeinstalace počítače</h3>
	            </div>
	            <div class="panel-body">
	              Přeinstalace počítače zahrnuje vrácení počítače do stavu ve kterém jste ho zakoupili, eventuleně přeinstalování vlastního operačního systému. Můžeme do této služby zahrnout &gt;Aktivaci operačního systému&lt; Běžné úkony prováděné při tomto zásahu jsou:


	              <span class="label label-success h1size">1000.- Kč</span>
	            </div>
	          </div>
	        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Přeinstalace počítače</h3>
            </div>
            <div class="panel-body">
              Přeinstalace počítače zahrnuje vrácení počítače do stavu ve kterém jste ho zakoupili, eventuleně přeinstalování vlastního operačního systému. Můžeme do této služby zahrnout &gt;Aktivaci operačního systému&lt; Běžné úkony prováděné při tomto zásahu jsou:


              <span class="label label-success h1size">1000.- Kč</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Přeinstalace počítače</h3>
            </div>
            <div class="panel-body">
              Přeinstalace počítače zahrnuje vrácení počítače do stavu ve kterém jste ho zakoupili, eventuleně přeinstalování vlastního operačního systému. Můžeme do této služby zahrnout &gt;Aktivaci operačního systému&lt; Běžné úkony prováděné při tomto zásahu jsou:


              <span class="label label-success h1size">1000.- Kč</span>
            </div>
          </div>
        </div>
	</div>
	
	<!-- panels -->
	<div class="row">
	        <div class="col-md-4">
	          <div class="panel panel-default">
	            <div class="panel-heading">
	              <h3 class="panel-title">Přeinstalace počítače</h3>
	            </div>
	            <div class="panel-body">
	              Přeinstalace počítače zahrnuje vrácení počítače do stavu ve kterém jste ho zakoupili, eventuleně přeinstalování vlastního operačního systému. Můžeme do této služby zahrnout &gt;Aktivaci operačního systému&lt; Běžné úkony prováděné při tomto zásahu jsou:


	              <span class="label label-success h1size">1000.- Kč</span>
	            </div>
	          </div>
	        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Přeinstalace počítače</h3>
            </div>
            <div class="panel-body">
              Přeinstalace počítače zahrnuje vrácení počítače do stavu ve kterém jste ho zakoupili, eventuleně přeinstalování vlastního operačního systému. Můžeme do této služby zahrnout &gt;Aktivaci operačního systému&lt; Běžné úkony prováděné při tomto zásahu jsou:


              <span class="label label-success h1size">1000.- Kč</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Přeinstalace počítače</h3>
            </div>
            <div class="panel-body">
              Přeinstalace počítače zahrnuje vrácení počítače do stavu ve kterém jste ho zakoupili, eventuleně přeinstalování vlastního operačního systému. Můžeme do této služby zahrnout &gt;Aktivaci operačního systému&lt; Běžné úkony prováděné při tomto zásahu jsou:


              <span class="label label-success h1size">1000.- Kč</span>
            </div>
          </div>
        </div>
	</div>

</div>